@model DataLayer.Models.Blog
@using MyprojectCMS.Utilities
@{
    ViewBag.Title = "نمایش وبلاگ";
}

<!--Page Title-->
<section class="page-title">
    <div class="pattern-layer-one" style="background-image: url(/Content/images/background/pattern-16.png)"></div>
    <div class="auto-container">
        <h2>@Model.Title </h2>
        <ul class="page-breadcrumb">
            <li><a href="/">صفحه اصلی </a></li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Content Side -->
            <div class="content-side col-lg-8 col-md-12 col-sm-12">
                <div class="news-detail">
                    <div class="inner-box">
                        <div class="upper-box">
                            <h3>@Model.Title</h3>
                            <ul class="post-meta">
                                <li><span class="icon flaticon-comment"></span>تعداد 3 نظر </li>
                            </ul>
                        </div>
                        <div class="image">
                            <img src="~/Images/@Model.ImageName" alt="@Model.Title" />
                            <div class="post-date" style="width: 150px; padding-top: 15px;">@Model.CreateDate.ConvertToShamsi()</div>
                        </div>

                        <div class="lower-content">
                            <p> @Model.ShortDescription</p>
                            <blockquote>
                                <div class="blockquote-inner">
                                    @Model.ShortDescription
                                    <span class="quote-icon flaticon-quotation-mark"></span>
                                </div>
                            </blockquote>
                            <p></p>
                            <p>@Html.Raw(Model.BlogText)</p>
                            <!-- Post Share Options-->
                            <div class="post-share-options">
                                <div class="post-share-inner clearfix">
                                    <div class="pull-left tags">
                                        @foreach (var item in Model.Tag.Split('،'))
                                        {
                                            <a href="#">@item </a>
                                        }

                                    </div>
                                    <ul class="social-box pull-right">
                                        <li class="share">این اعلان را به اشتراک گذارید :</li>
                                        <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                        <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="comments-area">
                        <div class="group-title">
                            <h3>2 نظرات </h3>
                        </div>

                        <div class="comment-box">
                            <div class="comment">
                                <div class="author-thumb"><img src="images/resource/author-1.jpg" alt=""></div>
                                <div class="comment-info clearfix"><strong>جعفر خان عباسی </strong><div class="comment-time">15 خرداد | ساعت 9 صبح تا 19 عصر</div></div>
                                <div class="text">یک مثال بی اهمیت ، که همیشه یک ورزش بدنی را انجام می دهد ، به جز کسب یک مزیت.</div>
                                <a class="theme-btn reply-btn" href="#">پاسخ </a>
                            </div>
                        </div>

                        <div class="comment-box reply-comment">
                            <div class="comment">
                                <div class="author-thumb"><img src="images/resource/author-2.jpg" alt=""></div>
                                <div class="comment-info clearfix"><strong>ویلیام دوزر</strong><div class="comment-time">15 خرداد | ساعت 9 صبح تا 19 عصر</div></div>
                                <div class="text">یک مثال بی اهمیت ، که همیشه یک ورزش بدنی را انجام می دهد ، به جز کسب یک مزیت.</div>
                                <a class="theme-btn reply-btn" href="#">پاسخ </a>
                            </div>
                        </div>

                        <div class="comment-box">
                            <div class="comment">
                                <div class="author-thumb"><img src="images/resource/author-3.jpg" alt=""></div>
                                <div class="comment-info clearfix"><strong>وان ملیسوم </strong><div class="comment-time">15 خرداد | ساعت 9 صبح تا 19 عصر</div></div>
                                <div class="text">یک مثال بی اهمیت ، که همیشه یک ورزش بدنی را انجام می دهد ، به جز کسب یک مزیت.</div>
                                <a class="theme-btn reply-btn" href="#">پاسخ </a>
                            </div>
                        </div>

                    </div>

                    <!-- Comment Form -->
                    <div class="comment-form">

                        <div class="group-title"><h3>ارسال یک پیام </h3></div>

                        <!--Comment Form-->
                        <form method="post" action="https://expert-themes.com/html/globex/blog.html">
                            <div class="row clearfix">

                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <input type="text" name="username" placeholder="نام کامل" required="">
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <input type="email" name="email" placeholder="ایمیل" required="">
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <input type="text" name="subject" placeholder="موضوع" required="">
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <textarea class="darma" name="message" placeholder="پیام شما"></textarea>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <button class="theme-btn btn-style-three" type="submit" name="submit-form"><span class="txt">ارسال نظر </span></button>
                                </div>

                            </div>
                        </form>

                    </div>



                </div>
            </div>

            <!-- Sidebar Side -->
            <div class="sidebar-side left-sidebar col-lg-4 col-md-12 col-sm-12">
                <aside class="sidebar sticky-top">
                    <div class="sidebar-inner">

                        <!-- Search -->
                        <div class="sidebar-widget search-box">
                            <div class="sidebar-title">
                                <h5>جستجو : -</h5>
                            </div>
                            <form method="post" action="https://expert-themes.com/html/globex/contact.html">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="جستجو ... " required>
                                    <button type="submit"><span class="icon fa fa-search"></span></button>
                                </div>
                            </form>
                        </div>

                        <!-- Categories Widget -->
                        <div class="sidebar-widget categories-widget">
                            <div class="sidebar-title">
                                <h5>دسته بندی: -</h5>
                            </div>
                            <div class="widget-content">
                                <ul class="blog-cat">
                                    <li><a href="#">مشاوره <span>( 05 )</span></a></li>
                                    <li><a href="#">داده های سایبری <span>( 23 )</span></a></li>
                                    <li><a href="#">طراحی  <span>( 22 )</span></a></li>
                                    <li><a href="#">دیجیتال <span>( 15 )</span></a></li>
                                    <li><a href="#">مارکتینگ <span>( 36 )</span></a></li>
                                    <li><a href="#">امنیت <span>( 48 )</span></a></li>
                                    <li><a href="#">UI/UX طراحی  <span>( 06 )</span></a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Categories Widget -->
                        <div class="sidebar-widget popular-posts">
                            <div class="sidebar-title">
                                <h5>پست های اخیر : -</h5>
                            </div>
                            <div class="widget-content">
                                <article class="post">
                                    <figure class="post-thumb"><img src="images/resource/post-thumb-5.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                    <div class="text"><a href="news-detail.html">بهترین فناوری راه حل فناوری اطلاعات جهان را تعریف کنید</a></div>
                                    <div class="post-info">خرداد 1400</div>
                                </article>
                                <article class="post">
                                    <figure class="post-thumb"><img src="images/resource/post-thumb-6.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                    <div class="text"><a href="news-detail.html">شما باید 20 راز تغییر شکل دیجیتال را امتحان کنید</a></div>
                                    <div class="post-info">خرداد 1400</div>
                                </article>
                                <article class="post">
                                    <figure class="post-thumb"><img src="images/resource/post-thumb-7.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                    <div class="text"><a href="news-detail.html">10 چارچوب های PHP شما باید در هر کجا استفاده کنید</a></div>
                                    <div class="post-info">خرداد 1400</div>
                                </article>
                            </div>
                        </div>

                        <!-- Popular Posts -->
                        <div class="sidebar-widget popular-tags">
                            <div class="sidebar-title">
                                <h5>برچسب ها : -</h5>
                            </div>
                            <div class="widget-content">
                                <a href="#">شرکتی </a>
                                <a href="#">مشتری </a>
                                <a href="#">سایبر </a>
                                <a href="#">داده </a>
                                <a href="#">طراحی </a>
                                <a href="#">خدمات اطلاعاتی  </a>
                                <a href="#">مارکتینگ </a>
                                <a href="#">موضوع </a>
                                <a href="#">عملیاتی </a>
                            </div>
                        </div>

                        <!-- Instagram Widget -->
                        <div class="sidebar-widget instagram-widget">
                            <div class="sidebar-title">
                                <h5>اینستاگرام : -</h5>
                            </div>
                            <div class="widget-content">
                                <div class="clearfix">
                                    <figure class="post-thumb"><img src="images/resource/instagram-1.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                    <figure class="post-thumb"><img src="images/resource/instagram-2.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                    <figure class="post-thumb"><img src="images/resource/instagram-3.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                    <figure class="post-thumb"><img src="images/resource/instagram-4.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                    <figure class="post-thumb"><img src="images/resource/instagram-5.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                    <figure class="post-thumb"><img src="images/resource/instagram-6.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                    <figure class="post-thumb"><img src="images/resource/instagram-7.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                    <figure class="post-thumb"><img src="images/resource/instagram-8.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                    <figure class="post-thumb"><img src="images/resource/instagram-9.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                </div>
                            </div>
                        </div>

                        <!-- Archives Widget -->
                        <div class="sidebar-widget archives-widget">
                            <div class="sidebar-title">
                                <h5>آرشیو : -</h5>
                            </div>
                            <ul class="archive-list">
                                <li><a href="#">فروردین 1400</a></li>
                                <li><a href="#">اردیبهشت 1400</a></li>
                                <li><a href="#">خرداد 1400</a></li>
                                <li><a href="#">تیر 1400</a></li>
                            </ul>
                        </div>

                    </div>
                </aside>
            </div>

        </div>
    </div>
</div>
<!-- End Sidebar Page Container -->
<!-- News More Section -->
<section class="news-more-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!-- New Post -->
            <div class="new-post col-lg-6 col-md-12 col-sm-12">
                <div class="post-inner">
                    <div class="content">
                        <div class="post-image">
                            <img src="images/resource/news-21.jpg" alt="" />
                        </div>
                        <h4><a href="#">بهترین راه حل IT را برای جهانی تعریف کنید </a></h4>
                        <a href="#" class="more">قبلی </a>
                    </div>
                </div>
            </div>
            <!-- New Post -->
            <div class="new-post style-two col-lg-6 col-md-12 col-sm-12">
                <div class="post-inner">
                    <div class="content">
                        <div class="post-image">
                            <img src="images/resource/news-22.jpg" alt="" />
                        </div>
                        <h4><a href="#">شما باید 20 راز دیجیتال را امتحان کنید</a></h4>
                        <a href="#" class="more">بعدی </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End News More Section -->
